@font-face {
  font-family: "Gilroy";
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: local("gilroylight"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2"),
      url("../fonts/opensanslight.woff");
  font-style: normal;
  font-weight: 300;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-grey: #ebebeb;
  --special-grey-light: #d9d9d9;

  --input-placeholder: #b3b3b3;
  --input-placeholder-hover: #666666;

  --special-white-a7: rgba(255, 255, 255, .7);
  --special-white-a3: rgba(255, 255, 255, .3);

  --special-black-a6: rgba(0, 0, 0, .6);
  --special-black-a5: rgba(0, 0, 0, .5);
  --special-black-a3: rgba(0, 0, 0, .3);
  --special-black-a2: rgba(0, 0, 0, .2);
  --special-black-a1: rgba(0, 0, 0, .1);

  background-color: var(--basic-white);ы
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */
.main-navigation {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 22,05px;
  color: var(--basic-black);
  background-color: var(--special-yellow-light);
}

.logo:hover{
  opacity: 0.6;
}

.logo:active{
  opacity: 0.3;
}

.hidden{
  display: none;
}

.user-navigation{
  color: var(--basic-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.user-navigation-item{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.user-navigation{
  list-style: none;
  padding-left: 0;
}

.header-navigation{
  list-style: none;
  padding-left: 0;
}

.dropdown-navigation{
  list-style: none;
  padding-left: 0;
}

.fade:hover{
  opacity: 0.6;
}

.fade:active{
  opacity: 0.3;
}

.header-navigation{
  text-transform: uppercase;
  color: var(--basic-black);
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,2em;
  text-align: left;
}

.header-navigation-item{
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,2em;
  text-align: left;
  list-style: none;
  padding-left: 0;
}

/* dropdown */

.dropdown-navigation{
  color: var(--basic-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background-color: var(--special-yellow-light);
}

.dropdown-navigation-item{
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  padding-left: 0;
}

/* Search */

.search{
  max-width: 440px;
  position: relative;

}

.search:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search-input {
  width: 356px;
  height: 50px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;

  font-size: inherit;
  color: var(--input-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

.search-input[type="search"]::-webkit-search-decoration {
  display: none;
}

.search-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-input:hover::placeholder{
  color: var(--input-placeholder-hover);
}

.search-input:focus {
  height: 50px;
  color: var(--basic-black);
  outline: 0;
}

.search-input:focus + .search-button {
  visibility: visible;
}

.search-button:focus {
  visibility: visible;
}

.search-button:active {
  visibility: visible;
}

.search-button {
  visibility: hidden;
  width: 84px;
  height: 50px;
  position: absolute;
  right: 0;
  font-size: inherit;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
}

.search-button:focus {
  color: var(--basic-black);
  background-color: transparent;
  transition: visibility 0s ;
  outline: 0;
  border: 2px var(--basic-black) solid;
  border-bottom: none;
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  color: var(--special-white-a3);
  background-color: var(--basic-black);
}

/* catalog dropdown button */

.header-button{
  color: var(--basic-black);
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,1em;
  text-align: left;
  text-transform: uppercase;
  background-color: var(--special-yellow-light);
  border: none;
}

.header-button:hover{
  color: var(--special-black-a6);
}

.header-button:active{
  color: var(--special-black-a1);
}


/* Slider */

.slider-control{
  list-style: none;
  padding-left: 0;
}

.more-button {
  display: block;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.more-button:active {
  color: var(--special-black-a6);
}

.more-button::before {
  content: " ";
  height: 8px;
  width: 100%;
  background-color: var(--special-yellow-dark);
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
}

.more-button:hover::before {
  height: 40px;
  top: 0;
}

.slide-button {
  width: 220px;
}

.slide-slogan{
  color: var(--basic-black);
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.slide-definition{
  color: var(--basic-black);
  font-family: 'Gilroy', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0,1em;
  text-align: left;

}
.slide-subtitle{
  color: var(--basic-black);
  font-family: 'Gilroy', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0,1em;
  text-align: left;
}

.slide-text{
  color: var(--basic-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* Goods */

.goods-list{
  list-style: none;
  padding-left: 0;
}

.goods-list-item-link{
  display: block;
  height: 160px;
  width: 160px;
  background-color: var(--special-yellow-light);
  position: relative;
}

.link-VR{
  margin-top: 52px;
  margin-left: 31px;
}

.goods-list-item-link:hover {
  content: "";
  height: 160px;
  width: 160px;
  background-color: var(--special-yellow-dark);
}

.goods-list-item-link:active > .link-img{
  opacity: 0.3;
}

.link-selfi{
  margin-top: 26px;
  margin-left: 37px;
}

.link-camera{
  margin-top: 36px;
  margin-left: 44px;
}

.link-fitnes{
  margin-top: 48px;
  margin-left: 27px;
}

.link-clocks{
  margin-top: 31px;
  margin-left: 52px;
}

.link-copter{
  margin-top: 46px;
  margin-left: 14px;
}


/* TAB */

.tab{
  background-color: var(--special-grey-light);
}

.tab-flex{
  list-style: none;
  padding-left: 0;
}

.tab-flex-item-link {
  background-color: transparent;
  border: none;
  width: 160px;
  position: relative;
  padding-bottom: 0;
}

.tab-flex-item-link:active {
  color: var(--special-yellow);
}

.tab-flex-item-link::before {
  top: 50%;
}

.tab-flex-item-link:active::before {
  content: " ";
  width: 277px;
  background-color: var(--basic-black);
}

.tab-content-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0,1em;
  text-align: left;
}

.tab-content-title{
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0,2em;
  text-align: left;

}

/* Brands */

.brand-content{
  list-style: none;
  padding-left: 0;
}

.delivery-body-list{
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.delivery-body-title{
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0,2em;
  text-align: left;
}


.delivery-body-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.contacts-title{
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0,2em;
  text-align: left;
}

.contacts-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.partner-body-link {
  width: 260px;
}

.contacts-button {
  width: 260px;
}

/*footer*/

.footer{
  background-color: var(--basic-dark);
}

.footer-navigation{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
  list-style: none;
  padding-left: 0;
}

.footer-contacts-menu{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
  list-style: none;
  padding-left: 0;
}

.footer-telephone{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
}

.footer-social{
  list-style: none;
  padding-left: 0;
}

.footer-link:hover{
  color: var(--basic-white);
}

.footer-link:active{
  color: var(--special-white-a3);
}

.footer-link{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
}

.footer-link{
  opacity: 0.3;
}

.footer-link:hover{
  opacity: 1;
}

.footer-link:active{
  opacity: 0.1;
}

.footer-academy-link:hover{
  opacity: 0.3;
}

.footer-academy-link:active{
  opacity: 0.1;
}

.footer-contacts{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
  list-style-position: inside;
}

.footer-contacts-menu-tab{
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,2em;
  text-align: left;
  color: var(--basic-white);
}

.footer-contacts-menu-tab:hover{
  color: var(--special-white-a7);
  }

  .footer-contacts-menu-tab:active{
  color: var(--special-white-a3);
  }

.footer-logo{
  color: var(--special-yellow-dark);
}

.message{
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.message-button:hover:before {
  height: 40px;
  top: 0;
}
.message-button {
  display: block;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.message-button:before{
  content: " ";
  height: 8px;
  width: 100%;
  background-color: var(--special-yellow-dark);
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
}

.message-button:active{
  color: var(--special-black-a6);
}

/* catalog */

.center-title{
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.center-navigation{
  list-style: none;
  padding-left: 0;
}

.center-navigation-item{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.3;
}

.center-navigation-item:hover{
  opacity: 0.6;
}

.center-navigation-item:active{
  opacity: 0.1;
}

.filter-title{
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0,1em;
  text-align: left;
}

.filter-field{

}

.sort{

}

.sort-list{
  list-style: none;
  padding-left: 0;
}

.sort-list-item{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.3;
}

.sort-list-item:hover{
  opacity: 0.6;
}

.sort-list-item:active{
  opacity: 1;
}

.navigation-page{
  list-style: none;
  padding-left: 0;
}

.shop-list{
  list-style: none;
  padding-left: 0;
}

.shop-list-item{
  display: block;
  width: 360px;
  height: 380px;
  position: relative;
  margin-right: 0;
  margin-bottom: 120px;
}

.shop-list-item-hidden {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 180px;
  margin-left: 55px;
  z-index: 1;
  text-align: center;
}

.shop-list-item:hover::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--special-grey-lighter);
}

.shop-list-item:hover > .shop-list-item-hidden {
  visibility: visible;
}


.shop-list-item-basket {
  width: 220px;
  border: transparent;
  background-color: transparent;
}

.shop-list-item-push {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--special-black-a5);
  border: transparent;
  background-color: transparent;
}

.shop-list-item-push:hover {
  color: var(--basic-black);
}

.shop-list-item-push:active {
  color: var(--special-black-a2);
}

.shop-list-item-name {
  font-size: 18px;
  line-height: 22px ;
  letter-spacing: 0.05em;
}


.shop-list-item-cost {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.user-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.3;
  color: var(--basic-white);
}

.shop-list-item-name{
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,05em;
  text-align: left;
}

.shop-list-item-cost{
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0,05em;
  text-align: left;

}

.navigation-page-change-link {
  display: block;
  height: 46px;
  padding-top: 24px;
  width: 120px;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0,1em;
  text-align: center;
  position: relative;

}

.navigation-page-change-link:active {
  background-color: #D9D9D9;
  color: var(--special-black-a6);
}

.navigation-page-change-link::before {
  content: " ";
  height: 46px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
}

.navigation-page-change-link:hover::before {
  height: 100%;
  top: 0;
  background-color: #D9D9D9;
}

.navigation-page-item{
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0,1em;
  text-align: left;
  opacity: 0.3;
}


.item-active{
  opacity: 1;
}
