@font-face {
  font-family: "Gilroy";
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: local("gilroylight"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2"),
      url("../fonts/opensanslight.woff");
  font-style: normal;
  font-weight: 300;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-grey: #ebebeb;
  --special-grey-light: #d9d9d9;

  --input-placeholder: #b3b3b3;
  --input-placeholder-hover: #666666;

  --special-white-a7: rgba(255, 255, 255, .7);
  --special-white-a3: rgba(255, 255, 255, .3);

  --special-black-a6: rgba(0, 0, 0, .6);
  --special-black-a5: rgba(0, 0, 0, .5);
  --special-black-a3: rgba(0, 0, 0, .3);
  --special-black-a2: rgba(0, 0, 0, .2);
  --special-black-a1: rgba(0, 0, 0, .1);

  min-width: 960px;
  margin: 0;
  padding: 0;
  line-height: 22,05px;
  font-weight: 800;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */
.main-navigation {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 22,05px;
  color: var(--basic-black);
  background-color: var(--special-yellow-light);
}

.hidden{
  display: none;
}

.user-navigation{
  color: var(--basic-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.user-navigation-item{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

.fade:hover{
  opacity: 0.6;
}

.fade:active{
  opacity: 0.3;
}

.header-navigation{
  text-transform: uppercase;
  color: var(--basic-black);
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,2em;
  text-align: left;
}

.header-navigation-item{
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,2em;
  text-align: left;
  list-style: none;
}

/* dropdown */

.dropdown-navigation{
  color: var(--basic-black);
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background-color: var(--special-yellow-light);
}

.dropdown-navigation-item{
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

/* Search */

.search {
  max-width: 440px;
  margin-left: 60px;
  position: relative;
}

.search:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search-input {
  width: 355px;
  height: 50px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;

  font-size: inherit;
  color: var(--input-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

.search-input[type="search"]::-webkit-search-decoration {
  display: none;
}

.search-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-input:hover::placeholder{
  color: var(--input-placeholder-hover);
}

.search-input:focus {
  height: 50px;
  color: var(--basic-black);
  outline: 0;
}

.search-input:focus + .search-button {
  visibility: visible;
}

.search-button:focus {
  visibility: visible;
}

.search-button:active {
  visibility: visible;
}

.search-button {
  visibility: hidden;
  width: 84px;
  height: 50px;
  position: absolute;
  right: 0;
  font-size: inherit;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
}

.search-button:focus {
  color: var(--basic-black);
  background-color: transparent;
  transition: visibility 0s ;
  outline: 0;
  border: 2px var(--basic-black) solid;
  border-bottom: none;
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  color: var(--special-white-a3);
  background-color: var(--basic-black);
}

/* catalog dropdown button */

.header-button{
  color: var(--basic-black);
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,1em;
  text-align: left;
  text-transform: uppercase;
  background-color: var(--special-yellow-light);
  border: none;
}

.header-button:hover{
  color: var(--special-black-a6);
}

.header-button:active{
  color: var(--special-black-a1);
}


/* Slider */

.slider-control{
  list-style: none;
}

.slide-button:hover:before {
  height: 22px;
  top: 7px;
}
.slide-button {
  display: block;
  width: 134px;
  height: 22px;

  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  text-align: center;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slide-button:before{
  content:"";
  width: 100%;
  height: 8px;
  z-index: -1;
  background-color: var(--special-yellow-dark);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide-button:active{
  color: var(--special-black-a6);
}

.slide-slogan{
  color: var(--basic-black);
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.slide-definition{
  color: var(--basic-black);
  font-family: Gilroy, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0,1em;
  text-align: left;

}
.slide-subtitle{
  color: var(--basic-black);
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0,1em;
  text-align: left;
}

.slide-text{
  color: var(--basic-black);
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* Goods */

.goods-list{
  list-style: none;
}

}
.goods-list-item:hover:before {
  height: 160px;
  top: 160px;
  background-color: var(--special-yellow-dark);
}
.goods-list-item {
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
  position: relative;
}

.goods-list-item:before{
  content:"";

  z-index: -1;
  background-color: var(--special-yellow-light);

  position: absolute;
}

.goods-list-item:active{
  background-color: var(--special-yellow-dark);
}

.goods-list-item-image:active{
  opacity: 0.3px;
}

/* TAB */

.tab{
  background-color: var(--special-grey-light);
}

.tab-flex{
  list-style: none;
}

.tab-flex-item-link:hover:before {
  height: 40px;
  top: 50%;
}
.tab-flex-item-link {
  display: block;
  width: 280px;
  height: 40px;

  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-align: left;


  position: relative;


  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.tab-flex-item-link:before{
  content:"";
  width: 160px;
  height: 8px;
  z-index: -1;
  background-color: var(--special-yellow-dark);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tab-flex-item-link:active{
  background-color: var(--basic-black);
  position: relative;
}

.tab-flex-item-link:active{
  color:var(--special-yellow);
}

/* Brands */

.brand-content{
  list-style: none;
}

.delivery-body-list{
  list-style: none;
}

.partner-body-link:hover:before {
  height: 40px;
  top: 7px;
}
.partner-body-link {
  display: block;
  width: 180px;
  height: 40px;

  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  text-align: center;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.partner-body-link:before{
  content:"";
  width: 100%;
  height: 8px;
  z-index: -1;
  background-color: var(--special-yellow-dark);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.partner-body-link:active{
  color: var(--special-black-a6);
}

.contacts-button:hover:before {
  height: 40px;
  top: 10px;
}
.contacts-button {
  display: block;
  width: 218px;
  height: 22px;

  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  text-align: center;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-button:before{
  content:"";
  width: 100%;
  height: 8px;
  z-index: -1;
  background-color: var(--special-yellow-dark);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contacts-button:active{
  color: var(--special-black-a6);
}

/*footer*/

.footer{
  background-color: var(--basic-dark);
}

.footer-navigation{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
  list-style: none;
}

.footer-contacts-menu{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
  list-style: none;
}

.footer-telephone{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
}

.footer-social{
  list-style: none;
}

.footer-link:hover{
  color: var(--basic-white);
}

.footer-link:active{
  color: var(--special-white-a3);
}

.footer-link{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
}

.footer-contacts{
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--special-white-a7);
}

.footer-contacts-menu-tab{
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0,2em;
  text-align: left;

  color: var(--basic-white);
}

.footer-contacts-menu-tab:hover{
  color: var(--special-white-a7);
  }

  .footer-contacts-menu-tab:active{
  color: var(--special-white-a3);
  }

.footer-logo{
  color: var(--special-yellow-dark);
}
